* {
    box-sizing: border-box;
}


/* ///////////////Fonts/////////////// */

@font-face {
    font-family: Impact;
    src: url('../fonts/Impact/impact.ttf');
}


/* ///////////////Helpers/////////////// */

.flip {
    transform: rotate(90deg);
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.hidden {
    display: none;
}


/* /////////////////////////////////////// */

body {
    background-color: #22252c;
    color: rgb(255, 248, 239);
}

.main-container {
    margin: 0 auto;
}

.gallery-container,
.edit-container {
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.gallery-grid,
.editor-container {
    background-color: #383b42;
    width: 85%;
    padding: 10px;
    border-radius: 10px;
}

.canvas-container {
    padding: 2px 0;
}

.editor {
    position: relative;
    width: 50%;
    margin: 0 0 0 20px;
    flex-direction: column;
    padding: 10px 0;
}

.share-btns {
    position: absolute;
    bottom: 0;
    right: 0;
}

.share-btns button {
    margin: 0 5px 0 0;
}

.icons-container {
    background-color: #51545c;
    border-radius: 10px;
    height: 140px;
    align-items: center;
    justify-content: center;
}


/* //////////////////Editor//////////////////// */

.user-pick {
    flex-direction: column;
}

.font-pick {
    cursor: pointer;
    display: inline-flex;
}

.text-input,
.font-pick {
    height: 50px;
    border-radius: 10px;
}

.edit-btn {
    display: inline-flex;
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
}

.color-pick {
    flex-wrap: wrap;
}

.color-pick p {
    margin: 0;
}

.pick {
    flex-direction: column;
    margin: 10px;
}

.color-pick input {
    cursor: pointer;
}

.icon {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.bot {
    border: none;
    background: none;
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.425);
    cursor: pointer;
}


/* //////////////////Gallery//////////////////// */

.grid-item {
    display: flex;
    height: 150px;
    width: 150px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.192);
    border-radius: 10px;
}

.grid-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid-item img:hover {
    visibility: visible;
    opacity: 90%;
}