* {
    box-sizing: border-box;
}


/* ///////////////Fonts/////////////// */

@font-face {
    font-family: Impact;
    src: url('../fonts/Impact/impact.ttf');
}


/* ///////////////Helpers/////////////// */

.pointer {
    cursor: pointer;
}

.flip {
    transform: rotate(90deg);
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.hidden {
    display: none;
}

.center-item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


/* /////////////////////////////////////// */

body {
    background-color: #22252c;
    color: rgb(255, 248, 239);
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.699);
    text-align: center;
}

a {
    text-decoration: none;
    color: #0c0d0f;
}

.kw {
    cursor: pointer;
}

.edit-btn:hover {
    color: rgba(255, 255, 255, 0.719);
}

.logo {
    margin-inline-start: 20px;
    font-size: 3.5rem;
}

.nav-bar-header {
    height: 100px;
    margin: 0 auto;
    padding: 0 140px;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-grow: 1;
}

.nav-bar-header a {
    height: 100%;
    box-sizing: content-box;
    flex-grow: 1;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

li {
    height: 100%;
    width: 100px;
}

.menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-container {
    margin: 0 auto;
}

.gallery-container,
.edit-container {
    align-items: center;
    justify-content: center;
    padding: 0 50px 50px 50px;
}

.gallery-grid,
.editor-container {
    background-color: #383b42;
    width: 85%;
    padding: 10px;
    border-radius: 10px;
}

.search-bar {
    align-self: center;
}

.search-comps {
    height: 70px;
    align-items: center;
}


/* //////////Search////////// */

.key-words {
    margin: 0 10px;
}

.search>* {
    margin: 0 5px;
}


/* //////////Edit Page////////// */

.editor-container {
    margin: 0 30px;
    align-items: center;
    width: 1020px;
}

.canvas-container {
    padding: 2px 0;
}

.editor {
    position: relative;
    width: 500px;
    margin: 0 0 0 20px;
    flex-direction: column;
    padding: 10px 0;
}

.line-edit,
.text-edit {
    justify-content: center;
}

.share-btns {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-flex;
}

.share-btns button,
form {
    margin: 0 5px 0 0;
    height: 25px;
}

.icons-container {
    background-color: #51545c;
    border-radius: 10px;
    height: 140px;
    width: 500px;
    align-items: center;
    justify-content: center;
}


/* //////////////////Editor//////////////////// */

.user-pick {
    flex-direction: column;
}

.font-pick {
    cursor: pointer;
    display: inline-flex;
}

.text-input,
.font-pick {
    height: 50px;
    border-radius: 10px;
}

.edit-btn {
    display: inline-flex;
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
}

.color-pick {
    flex-wrap: wrap;
}

.color-pick p {
    margin: 0;
}

.pick {
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.color-pick input {
    cursor: pointer;
}

.icon {
    height: 100px;
    width: 100px;
    cursor: grab;
}

.bot {
    border: none;
    background: none;
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.425);
    cursor: pointer;
}


/* //////////////////Gallery//////////////////// */

.grid-item {
    display: flex;
    height: 150px;
    width: 150px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.192);
    border-radius: 10px;
}

.grid-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid-item img:hover {
    visibility: visible;
    opacity: 90%;
}


/* ///////////////////////Mobile////////////////////// */

@media (max-width: 700px) {
    .main-container {
        max-width: 500px;
    }
    .editor-container {
        flex-direction: column;
    }
    .editor {
        margin: 0;
    }
    .search-comps {
        flex-direction: column;
    }
    .key-words {
        display: none;
    }
    .nav-bar-header {
        flex-direction: column;
    }
    h1 {
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .menu-list {
        text-align: center;
        justify-content: flex-end;
    }
}


/* ///////////////////////Desktop////////////////////// */

@media (min-width: 1050px) {
    .main-container {
        max-width: 1050px;
    }
}